/* ==========================================================================
   #front our style
   ========================================================================== */

.blood-type-dropdown {
    padding: 0 !important;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background: linear-gradient(to right,#a18cd1, #fbc2eb , #a18cd1);
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* ==========================================================================
   #FONT
   ========================================================================== */

.font-robo {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

/* ==========================================================================
     #PAGE WRAPPER
     ========================================================================== */

.page-wrapper {
    padding: 171px;
}

.p-t-100 {
    padding-top: 100px;
}

.p-t-130 {
    padding-top: 130px;
}

.p-t-180 {
    padding-top: 180px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-b-100 {
    padding-bottom: 100px;
}

.m-r-45 {
    margin-right: 45px;
}

/* ==========================================================================
     #WRAPPER
     ========================================================================== */

.wrapper {
    margin: 0 auto;
}

.wrapper--w960 {
    max-width: 960px;
}

.wrapper--w780 {
    max-width: 780px;
}

.wrapper--w680 {
    max-width: 680px;
}

/* ==========================================================================
     #BUTTON
     ========================================================================== */

.btn {
    display: inline-block;
    line-height: 50px;
    padding: 0 50px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    font-size: 18px;
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

.btn--pink {
    background: #e5e5e5 !important;
}

.btn--pink:hover {
    background: #fbc2eb !important;
}

input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

.input--style-4 {
    line-height: 50px;
    background: #fafafa;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.input--style-4::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #666;
}

.input--style-4:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666;
    opacity: 1;
}

.input--style-4::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666;
    opacity: 1;
}

.input--style-4:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #666;
}

.input--style-4:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #666;
}

.label {
    font-size: 16px;
    color: #555;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
}

.input-group {
    position: relative;
    margin-bottom: 22px;
}

/* ==========================================================================
     #TITLE
     ========================================================================== */

.title {
    font-size: 24px;
    color: #525252;
    font-weight: 400;
    margin-bottom: 40px;
}

/* ==========================================================================
     #CARD
     ========================================================================== */

.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

.card-4 {
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-4 .card-body {
    padding: 57px 65px;
    padding-bottom: 65px;
}

@media (max-width: 767px) {
    .card-4 .card-body {
        padding: 50px 40px;
    }
}